@import "tailwindcss";

@theme {
  --color-primary-darkgreen: #051A12;
  --color-primary-deepforest: #082920;
  --color-primary-evergreen: #0E3A25;
  --color-primary-moss: #1B4F33;
  --color-primary-forest: #2A6745;

  --color-amber: #F0B000;
  --color-mustard: #F7CA18;
  --color-titanium: #FEE440;

  --color-black: #111111;
  --color-graphite: #2D2D2D;
  --color-gray: #858585;
  --color-white: #F8F9FA;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #082920;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}