@import "tailwindcss";

@theme {
  --color-primary-darkgreen: #0A2E1F;
  --color-primary-deepforest: #12412A;
  --color-primary-evergreen: #1A5336;
  --color-primary-moss: #2D6A48;
  --color-primary-forest: #3C8157;

  --color-amber: #F0B000;
  --color-mustard: #F7CA18;
  --color-titanium: #FEE440;

  --color-black: #111111;
  --color-graphite: #2D2D2D;
  --color-gray: #858585;
  --color-white: #F8F9FA;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}